<div class="page404 d-flex flex-lg-row flex-column justify-content-center align-items-center">
  
  <div class="me-5 d-none d-md-block">
    <img class="w-100" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/img_404.png?v=1653318551">
  </div>
  	
  <div class="m-5 d-flex align-items-center flex-column">
    <div class="p-5 mb-5 text404 d-flex justify-content-center align-items-center flex-column text-center">
      <h1>¡GUAU!</h1>
      <h2>Algo salió mal</h2>
      <br>
      <p>Lo sentimos, no pudimos encontrar esta página.<br> Pero no te preocupes, todos los perritos están a salvo.</p>
      <br>
      <a href="/">
        <button class="an1Btn">INICIO</button>
      </a>
    </div>
    <img class="w-75 d-none d-md-block" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Imagen_24.png?v=1653318755">
  </div>
  
  
  <div class="img404Mobile mt-5 d-flex d-md-none w-75">
    <img class="img1 w-100" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/img_404.png?v=1653318551">
    <img class="img2 w-50" src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/Imagen_24.png?v=1653318755">
  </div>
  
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}
