<div class="products_main">

        <div class="head_image">
            <img src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/prod_img1.png?v=1651267479" loading="lazy">
        </div>

        <div class="p_section1 container w-100 d-flex justify-content-center flex-column text-center align-items-center mt-5">

            <h1>Comida fresca y de la mejor calidad</h1>
            <h3>Crudog contiene los mejores ingredientes para que tu mascota <br> adquiera todos los nutrientes posibles de forma balanceada.</h3>
            <img src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/prod_img2.png?v=1651267479">

        </div>

        <div></div>

        <!--producto 1-->

        <div class="container mt-5">

            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-12 col-xl-6 d-flex d-xl-block align-items-center justify-content-center">
                    <div class="products product1 text-center d-flex flex-column justify-content-center align-items-center">
                        <h1>ACTIVE HOUND</h1>
                        <br>
                        <h5 style="display:none;">Próximamente</h5>
                        <img src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/prod1.png?v=1651267479">
                        <h4>Su pelo brillará más que nunca y sus dientes estarán completamente sanos</h4>
                    </div>
                    
                </div>
                <div class="col-12 col-xl-6 d-flex d-xl-block align-items-center justify-content-center">
                    <div class="products_desc product1_desc wow bounceInRight" data-wow-offset="300">
                        <h1>Recomendado para perros con control de peso</h1>                        
                        <div class="ms-4">
                            <h2>Beneficios</h2>
                            <ul>
                                <li><i class="fa-solid fa-circle"></i>Alimento bajo en grasas</li>
                                <li><i class="fa-solid fa-circle"></i>Fortalece sistema inmunológico</li>
                                <li><i class="fa-solid fa-circle"></i>Aumenta su energía</li>
                            </ul>
                            <h2>Ingredientes:</h2>
                            <h5>Robalo y/o Curvina, Pollo, Zanahoria, <br> Calabaza, Chayote, Manzana, Espinaca.</h5>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-4 ms-xl-4">
                        <div class="products_btn product1_btn m-4 d-flex justify-content-center">
                            <a href="/products/active-hound">
                              <button class="an1Btn">Comprar</button>
                          	</a>
                        </div>
                    </div>
                    <div class="col-0 col-xl-8"></div>
                </div>
            </div>
            
        </div>
      
        <br><br><br>

        <!--producto 2-->

        <div class="container mt-5 mb-5">

            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-12 col-xl-6 d-flex d-xl-block align-items-center justify-content-center">
                    <div class="products product2 text-center d-flex flex-column justify-content-center align-items-center">
                        <h1>SALMON BITES</h1>
                        <h5>Próximamente</h5>
                        <br>
                        <img src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/prod2.png?v=1651267479">
                        <h4>Mejora la digestión ya que es rico en aminoácidos mejorando así el tránsito intestinal, notarás resultados inmediatos</h4>
                        
                    </div>
                    
                </div>
                <div class="col-12 col-xl-6 d-flex d-xl-block align-items-center justify-content-center">
                    <div class="products_desc product2_desc wow bounceInRight" data-wow-offset="300">
                        <h1>Premio alto en ácidos <br>grasos y omega</h1>                        
                        <div class="ms-4">
                            <h2>Beneficios</h2>
                            <ul>
                                <li><i class="fa-solid fa-circle"></i>Aporta ácidos grasos y omegas</li>
                                <li><i class="fa-solid fa-circle"></i>Mejora el pelo y la piel</li>
                                <li><i class="fa-solid fa-circle"></i>Alimento hipoalergenico</li>
                            </ul>
                            <h2>Ingredientes:</h2>
                            <h5>Lonja Salmon</h5>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-4 ms-xl-4">
                        <div class="products_btn product2_btn m-4 d-flex justify-content-center">
                            <button class="an1Btn" data-bs-toggle="popover" data-bs-content="Próximamente">Comprar</button>
                        </div>
                    </div>
                    <div class="col-0 col-xl-8"></div>
                </div>
            </div>
            
        </div>

        <br><br><br>

        <!--producto 3-->

        <div class="container mt-5 mb-5">

            <div class="row d-flex align-items-center">
                <div class="col-12 col-xl-6 d-flex d-xl-block align-items-center justify-content-center">
                    <div class="products product3 text-center d-flex flex-column justify-content-center align-items-center">
                        <h1>PIGGY TUNA</h1>
                        <h5 class="d-none">Próximamente</h5>
                        <br>
                        <img src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/prod3.png?v=1651267479">
                        <h4>Reduce el colesterol de tu mascota, mejora la slud de sus articulaciones, pelaje más brilloso, es fácil de digerir.</h4>
                    </div>
                    
                </div>
                <div class="col-12 col-xl-6 d-flex d-xl-block align-items-center justify-content-center">
                    <div class="products_desc product3_desc wow bounceInRight" data-wow-offset="300">
                        <h1>Recomendado para perros <br>con actividad física alta</h1>                        
                        <div class="ms-4">
                            <h2>Beneficios</h2>
                            <ul>
                                <li><i class="fa-solid fa-circle"></i>Alimento con aporte en grasas <br> saludables</li>
                                <li><i class="fa-solid fa-circle"></i>Vitaminas, minerales y aminoacidos <br> escenciales</li>
                            </ul>
                            <h2>Ingredientes:</h2>
                            <h5>Atún, Cerdo, Zanahoria, Calabaza, Brócoli, <br> Manzana, Plátano.</h5>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-4 ms-xl-4">
                        <div class="products_btn product3_btn m-4 d-flex justify-content-center">
                          <a href="/products/piggy-tuna">  
                          	<button class="an1Btn">Comprar</button>
                          </a>
                        </div>
                    </div>
                    <div class="col-0 col-xl-8"></div>
                </div>
            </div>
            
        </div>

    </div>

    <script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })
    </script>


{% schema %}
{
  "name": "products",
  "settings": [],
  "presets": [
    {
      "name": "products",
      "category": "Custom"
    }
  ]
}
{% endschema %}


