<div data-aos="fade-up" class="section4 d-flex flex-md-row flex-column">
  {%- if section.settings.imgbanner != blank -%}
  <img src="{{ section.settings.imgbanner | image_url}}" alt="crudog" class="s4_img">
  {% else %}
  <img src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/s4_img.png?v=1651267479" alt="crudog" class="s4_img">
	{%- endif -%}
  
  <div class="s4_cont">
    <h1 class="mb-4 mb-xl-5">
     {{ section.settings.text }} </h1>
    <a href="/pages/productos">
      <button class="an1Btn">
        <img src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/logo.png?v=1651267479">
      </button>
    </a>
    
    <img src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/s4_foots.png?v=1651267479" class="foots_2">
    
  </div>

</div>

{% schema %}
{
  "name": "section4",
  "settings": [
{
  "type": "text",
    "id": "text",
    "label": "Texto",
	"default": "Conoce nuestros <br> productos"
},
{
	"type": "image_picker",
	"id": "imgbanner",
	"label": "Imagen banner"
}
],
  "presets": [
    {
      "name": "section4",
      "category": "Custom"
    }
  ]
}
{% endschema %}