
    <div class="slider swiper mySwiper2">
      
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          
          <div class="slide_img">
			
            <img src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/slide_img1.png?v=1651267479" class="swiper-lazy">
            
            <div class="swiper-lazy-preloader"></div>
          </div>
          <div class="slide_img_m">
            <div class="slide_img_m_shape"></div>
            <img src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/slide_img1_m.png?v=1651267479" class="swiper-lazy">
            <div class="swiper-lazy-preloader"></div>
          </div>
          
            <div class="text-slider-img1 w-100">
              <div class="row w-100">
                <div class="col-0 col-md-5 col-lg-6">
                </div>
                <div class="col-12 col-md-7 col-lg-6 ps-5">
                  <h1>Alimento congelado <br> y balanceado <br> para tu mascota</h1>
                  <h2>#Becrudog</h2>
                  <div class="d-block d-md-none">
                    <br>
                  </div>
                  <div class="pt-5 pt-md-0 btn-slider d-flex flex-column flex-md-row align-items-center">

                    <a href="/pages/productos"><button class="btn-slider-plan1 d-flex align-items-center an1Btn">
                      Productos
                      <img src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/logo_bco.png?v=1651267479" class="ms-2 btn-slider-img">
                    </button></a>
                    <a href="/pages/suscribete"><button class="btn-slider-plan2 d-flex align-items-center an1Btn">
                      Crear plan
                      <img src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/logo_bco.png?v=1651267479" class="ms-2 btn-slider-img">
                    </button></a>
                  </div>
                </div>
              </div>
            </div>

        </div>
        <div class="swiper-slide">

          <div class="slide_img">
            <img src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/slide_img2.png?v=1651267480" class="swiper-lazy">
            <div class="swiper-lazy-preloader"></div>
          </div>
          <div class="slide_img_m">
            <img src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/slide_img2_m.png?v=1651522730" class="swiper-lazy">
            <div class="swiper-lazy-preloader"></div>
          </div>

            <div class="text-slider-img2 w-100 text-center">
              <h1>ACTIVE <br> HOUND</h1>
              <p class="yellowShadowMobile">Su pelo brillará más que nunca y sus <br>dientes estarán completamente sanos</p>
              <div class="d-block d-md-none">
                <br>
              </div>
              <div class="btn-slider d-flex flex-column flex-md-row align-items-center text-center justify-content-center">
                 <a href="/pages/productos"><button class="btn-slider-plan1 d-flex align-items-center an1Btn">
                  Productos
                  <img src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/logo_bco.png?v=1651267479" class="ms-2 btn-slider-img">
                  </button></a>
                <a href="/pages/suscribete"><button class="btn-slider-plan2 d-flex align-items-center an1Btn">
                  Crear plan
                  <img src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/logo_bco.png?v=1651267479" class="ms-2 btn-slider-img">
                </button></a>
              </div>
            </div>

        </div>
        <div class="swiper-slide">

          <div class="slide_img">
            <img src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/slide_img3.png?v=1651267479" class="swiper-lazy">
            <div class="swiper-lazy-preloader"></div>
          </div>
          <div class="slide_img_m">
            <img src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/slide_img3_m.png?v=1651267479" class="swiper-lazy">
            <div class="swiper-lazy-preloader"></div>
          </div>

          <div class="text-slider-img3 w-100">

            <div class="row">
              <div class="col-0 col-mb-5 col-xl-6"> 
              </div>
              <div class="col-12 col-mb-7 col-xl-6 ps-5">
                <h1>HUMAN <br> GRADE</h1>
                <div class="d-block d-md-none">
                <br><br>
                </div>
                <div class="pt-4 pt-md-0 btn-slider d-flex flex-column flex-md-row align-items-center justify-content-center">
                  <a href="/pages/productos"><button class="btn-slider-plan1 d-flex align-items-center an1Btn">
                    Productos
                    <img src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/logo_bco.png?v=1651267479" class="ms-2 btn-slider-img">
                    </button></a>
                  <a href="/pages/suscribete"><button class="btn-slider-plan2 d-flex align-items-center an1Btn">
                    Crear plan
                    <img src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/logo_bco.png?v=1651267479" class="ms-2 btn-slider-img">
                    </button></a>
                </div>
              </div>
            </div>

          </div>

        </div>
      
      </div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>

    </div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script>

 var swiper = new Swiper(".mySwiper2", {
        preloadImages: false,
        lazy: true,
        loop: true,
   		speed: 200,
        autoplay: {
          delay: 4000,
          disableOnInteraction: false,
        },
        spaceBetween: 0,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        }
      });
  

</script>


  {% schema %}
  {
    "name": "slider",
     "settings": [
        {   
            "id": "slider1_img",
            "type": "image_picker",
            "label": "Slider image 1"
        },
        {   
            "id": "slider2_img",
            "type": "image_picker",
            "label": "Slider image 2"
        },
        {   
            "id": "slider3_img",
            "type": "image_picker",
            "label": "Slider image 3"
        },
        {
            "id": "slider1_text1",
            "type": "text",
            "label": "Slider 1 text 1",
            "default": "Alimento congelado <br> y balanceado <br> para tu mascota"
        },
        {
            "id": "slider1_text2",
            "type": "text",
            "label": "Slider 1 text 2",
            "default": "#Becrudog"
        },
        {   
            "id": "slider1_btn1",
            "type": "text",
            "label": "slider 1 button 1 text",
            "default": "Productos"
        },
        {   
            "id": "slider1_btn2",
            "type": "text",
            "label": "slider 1 button 2 text",
            "default": "Crear plan"
        },
        {   
            "id": "slider1_btn1_link",
            "type": "url",
            "label": "slider 1 button 1 link"
        },
        {   
            "id": "slider1_btn2_link",
            "type": "url",
            "label": "slider 1 button 2 link"
        },
        {   
            "id": "slider2_text1",
            "type": "text",
            "label": "slider 2 text 1",
            "default": "ACTIVE <br> HOUND"
        },
        {   
            "id": "slider2_text2",
            "type": "text",
            "label": "slider 2 text 2",
            "default": "Su pelo brillará más que nunca y sus <br>dientes estarán completamente sanos"
        },
        {   
            "id": "slider2_btn1",
            "type": "text",
            "label": "slider 2 button 1 text",
            "default": "Productos"
        },
        {   
            "id": "slider2_btn1_link",
            "type": "url",
            "label": "slider 2 button 1 link"
        },
        {   
            "id": "slider2_btn2_link",
            "type": "url",
            "label": "slider 2 button 2 link"
        },
        {   
            "id": "slider3_text1",
            "type": "text",
            "label": "slider 3 text 1",
            "default": "HUMAN <br> GRADE"
        },
        {   
            "id": "slider3_btn1",
            "type": "text",
            "label": "slider 3 button 1 text",
            "default": "Productos"
        },
        {   
            "id": "slider3_btn2",
            "type": "text",
            "label": "slider 3 button 2 text",
            "default": "Crear plan"
        },
        {   
            "id": "slider3_btn1_link",
            "type": "url",
            "label": "slider 3 button 1 link"
        },
        {   
            "id": "slider3_btn2_link",
            "type": "url",
            "label": "slider 3 button 2 link"
        }
    ],
    "presets": [
      {
        "name": "slider",
        "category": "Custom"
      }
    ]
  }
{% endschema %}