
<div class="topbanner d-flex justify-content-center text-center align-items-center w-100">
	{{section.settings.text}}
</div>


{% schema %}
  {
    "name": "Top banner",
    "settings": [
{
	"type": "text",
	"id": "text",
	"label": "Text",
	"default": "Por lo pronto sólo tenemos envíos en Jalisco y Querétaro, estamos trabajando para expandirnos."
}
],
  "presets": [
    {
      "name": "top banner",
      "category": "Custom"
    }
  ]
}
{% endschema %}

