<div style="z-index:100;background-color:white;height:100px;position:absolute;top:0;left:0;" class="w-100"></div>

{% schema %}
{
  "name": "white",
  "settings": [
],
  "presets": [
    {
      "name": "white"
    }
  ]
}
{% endschema %}